.git
.gitignore
.gcloudignore

.env
.env.*
*.local.env

.venv
venv
__pycache__
*.pyc

.playwright-cli
logs
error
x

frontend/node_modules
frontend/.next
frontend/.env.local
frontend/frontend
frontend/src

node_modules
.next

test.ipynb
frontend_backup
